body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', 'Roboto', 'Arial';
}

.landing {
  height: 100vh;
  background: url('http://cdn.shopify.com/s/files/1/1207/2972/products/x31_grande.jpg?v=1500555567')
    no-repeat center center/cover fixed;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}
.main-background .dark-overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
}

.main-background {
  background: url('http://cdn.shopify.com/s/files/1/1207/2972/products/x31_grande.jpg?v=1500555567')
    no-repeat center center/cover fixed;
}

.container {
  max-width: 1100px;
  padding: 20px;
}

.title {
  font-size: 64px;
  font-family: 'Raleway', 'Roboto', 'Arial';
  color: #8fbc8f;
}

.header-container {
  color: #8fbc8f;
  font-size: 64px;
  font-family: 'Raleway', 'Roboto', 'Arial';
  text-align: center;
}

.sub-title {
  margin-bottom: 40px;
  font-size: 20px;
  color: white;
}

.city-info .sub-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.city-info {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 'header header' 'search search' 'map weather' 'restaurants breweries';
}

.header-container {
  grid-area: header;
}

.search-container {
  grid-area: search;
  text-align: center;
}

.map-container {
  position: relative;
  grid-area: map;
}

.weather-container {
  grid-area: weather;
  background: white;
}

.chart-container {
  position: relative;
  width: 90%;
}

.restaurant-container {
  grid-area: restaurants;
}

h2.section-title {
  font-size: 30px;
  background: #e6e6e6;
  padding: 10px;
}

.restaurant-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background: white;
  padding-top: 10px;
}

.rest-item {
  text-align: center;
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
  width: 40%;
}

.rest-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.rest-info {
  padding: 2px 6px 6px 6px;
}
.rest-rating {
  color: #999999;
}
.rest-cuisines {
  color: #999999;
}

.section-container {
  text-align: center;
}

.brewery-container {
  grid-area: breweries;
}

.breweries-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background: white;
  padding-top: 10px;
}

.brew-item {
  text-align: center;
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
  width: 40%;
}

.search-container input {
  height: 50px;
  font-size: 20px;
  padding: 20px;
  border-radius: 50px;
  border: none;
  min-width: 400px;
  max-width: 100px;
}

.city-info .search-container input {
  height: 30px;
}

.rec-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.city-info .rec-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media only screen and (max-width: 960px) {
  .city-info {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6);
    grid-template-areas: 'header' 'search' 'map' 'weather' 'restaurants' 'breweries';
  }
  .chart-container {
    position: relative;
    width: 90%;
  }

  .header-container {
    grid-area: header;
    text-align: center;
  }

  .search-container {
    grid-area: search;
    text-align: center;
  }

  .map-container {
    position: relative;
    grid-area: map;
    height: 300px;
  }

  .weather-container {
    grid-area: weather;
    background: white;
  }

  .restaurant-container {
    grid-area: restaurants;
  }

  .brewery-container {
    grid-area: breweries;
  }
}
